.header{
    margin-top: 0%;
    background-image: url('C:\Users\ronit\OneDrive\Documents\driver\FULL STACK MERN DEVELOPMENT\tourapp\client\src\Components\images\rail2.jpg');
    background-size: cover;
    height: 600px;
}
.booktype{
    margin-top: 70px; 
    height: 100px;  
}
.bookhead{
    text-align: center;
    color: aliceblue;
}
.bookblock{
    border-color:#2F58CD;
    border-style:solid; 
    border-width: 2px;
    /* height: 200px; */
}
.radio1{
    font-size: 1.1rem;
    font-style:'Carlito', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}
.radio2{
    margin-left: 10px;
}
.ticket-block{
    margin-top: 10px;
    padding: 10px;
}
.ticket-part{
    border-style:solid;
    border-color:#2F58CD;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    padding: 9px;
}
.ticket-part:hover{
    background-color: #B0DAFF;
}
.source{
    font-family: 'Carlito', sans-serif;
    color: #7B8FA1;
    font-weight: bold;
    margin-left:5px;
}

.btnsrc{
    border-radius: 10%;
    /* padding-top: 20px;
    padding-left:50px; */
}
.searchbutton{
    width: 120px;
    height: 50px;
}
.srch{
    color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}
